@model ServiceSheetManager.ViewModels.ServiceSheetIndexVM
@{
    ViewBag.Title = "Service Sheets";
}

<h2 class="page-header">Service Sheet Index</h2>


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a data-toggle="collapse" href="#collapse1">Filter</a>
        </h3>
    </div>
    <div class="panel-collapse collapse" id="collapse1">
        <div class="panel-group">
            <form class="form-horizontal" asp-action="Index" asp-controller="ServiceSheet">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2">
                                    @Html.LabelFor(m => m.SubmissionNumber, new { @class = "control-label" })
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(m => m.SubmissionNumber, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-4 text-danger">@Html.ValidationMessageFor(m => m.SubmissionNumber)</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2">
                                    @Html.LabelFor(m => m.SheetsFromDateSearch, new { @class = "control-label" })
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(m => m.SheetsFromDateSearch, new { @class = "form-control datepicker" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-4">@Html.ValidationMessageFor(m => m.SheetsFromDateSearch)</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2">
                                    @Html.LabelFor(m => m.SheetsToDateSearch, new { @class = "control-label" })
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(m => m.SheetsToDateSearch, new { @class = "form-control datepicker" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-4">@Html.ValidationMessageFor(m => m.SheetsToDateSearch)</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2">
                                    @Html.LabelFor(m => m.CustomerSearch, new { @class = "control-label" })
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(m => m.CustomerSearch, new { @class = "form-control" })
                                </div>
                                <div class="col-md-6"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2">
                                    @Html.LabelFor(m => m.MttJobNumberSearch, new { @class = "control-label" })
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(m => m.MttJobNumberSearch, new { @class = "form-control" })
                                </div>
                                <div class="col-md-6"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2">
                                    @Html.LabelFor(m => m.Engineers)
                                </div>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(m => m.SelectedEngineer, new SelectList(Model.Engineers, "Value", "Text"), new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <input value="Filter" type="submit" />
                </div>
            </form>
        </div>
    </div>
</div>

<div id="resultsTable">
    @Html.Action("ListReports")
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(document).on("click", "#tablePager a", function () {

            var customerSearch = $(@Html.IdFor(m => m.CustomerSearch)).val();
            var dateSearchFrom = $(@Html.IdFor(m => m.SheetsFromDateSearch)).val();
            var dateSearchTo = $(@Html.IdFor(m => m.SheetsToDateSearch)).val();
            var jobNumberSearch = $(@Html.IdFor(m => m.MttJobNumberSearch)).val();
            var engineerSearch = $(@Html.IdFor(m => m.SelectedEngineer)).val();

            $.ajax({
                url: $(this).attr("href"),
                data: {
                    'customerSearch': customerSearch, 'sheetsFromDateSearch': dateSearchFrom,
                    'sheetsToDateSearch': dateSearchTo, 'mttJobNumberSearch': jobNumberSearch, 'selectedEngineer': engineerSearch
                },
                type: 'GET',
                cache: false,
                success: function (result) {
                    $("#resultsTable").html(result);
                }
            });
            return false;
        });

        $(document).on("click", ".SortAction", function () {

            var customerSearch = $(@Html.IdFor(m => m.CustomerSearch)).val();
            var dateSearchFrom = $(@Html.IdFor(m => m.SheetsFromDateSearch)).val();
            var dateSearchTo = $(@Html.IdFor(m => m.SheetsToDateSearch)).val();
            var jobNumberSearch = $(@Html.IdFor(m => m.MttJobNumberSearch)).val();
            var engineerSearch = $(@Html.IdFor(m => m.SelectedEngineer)).val();

            $.ajax({
                url: $(this).attr("href"),
                data: {
                    'customerSearch': customerSearch, 'sheetsFromDateSearch': dateSearchFrom,
                    'sheetsToDateSearch': dateSearchTo, 'mttJobNumberSearch': jobNumberSearch, 'selectedEngineer': engineerSearch
                },
                type: 'GET',
                cache: false,
                success: function (result) {
                    $("#resultsTable").html(result);
                }
            });
            return false;
        });

        $('.datepicker').datepicker({ dateFormat: 'dd/mm/yy' });
    });
</script>
